body {
    background: rgb(107, 107, 106);
    font: normal 15pt Arial;
}

header {
    color: white
}

section {
    background: white;
    border-radius: 10px;    /*deixar com borda*/
    padding: 15px;          /*borda*/
    width: 500px;           /*tamanho da barra branca*/
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);   /*sombra na borda*/
    
}

footer {
    color: white; 
    text-align: center;     /*centralizar o texto*/
    font-style: italic;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}