body {
    background: rgb(71, 71, 196);
    font: normal 15pt Arial;
}

header {
    color: white
}

section {
    background: white;
    border-radius: 10px;    /*deixar com borda*/
    padding: 15px;          /*borda*/
    width: 500px;           /*tamanho da barra branca*/
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);   /*sombra na borda*/
    
}

footer {
    color: white; 
    text-align: center;     /*centralizar */
    font-style: italic;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
div {       /*so uma div pois tanto o texto quanto a img estao no div*/
    text-align: center;
    padding: 8px;
}